<div class="window window-player">

    <div class="name">
        {{ player.getName() }}
        <span ng-show="player.isPoisoned()" class="poisoned">poisoned</span>
        <span ng-show="player.isParalyzed" class="paralyzed">paralyzed</span>
        <span ng-show="player.isStoned" class="stoned">turned to stone</span>
    </div>
    <div class="species">{{ player.species | capFirst }}</div>
	<div class="attributes">
		<div><span class="attr-label">Strength:</span> <span class="attr-value">{{ player.str }}</span></div>
		<div><span class="attr-label">Intelligence:</span> <span class="attr-value">{{ player.int }}</span></div>
		<div><span class="attr-label">Dexterity:</span> <span class="attr-value">{{ player.dex }}</span></div>
		<div style="margin-top: 10px;"><span class="attr-label">Health:</span>
				<span ng-show="player.health > 0 && player.health == player.maxHealth" class="attr-value">{{ player.health }}</span>
				<span ng-show="player.health > 0 && player.health < player.maxHealth" class="attr-value">{{ player.health }} / {{ player.maxHealth }}</span>
				<span ng-show="player.health <= 0" class="attr-value dead">DEAD</span>
		</div>
		<div ng-show="player.maxPower > 0">
            <span class="attr-label">Magic:</span>
			<span ng-show="player.power == player.maxPower" class="attr-value">{{ player.power }}</span>
			<span ng-show="player.power < player.maxPower" class="attr-value">{{ player.power }} / {{ player.maxPower }}</span>
		</div>
        <div ng-show="player.hasSkills()" style="margin-top: 15px;">
            <div class="header">Skills</div>
			<div ng-repeat="skill in player.skills">
                <span class="attr-label">{{ skillService.getSkill(skill.name).description | capFirst }}:</span>
                <span class="attr-value">{{ skill.level | floor | number: 0 }}</span>
            </div>
        </div>
	</div>

	<div class="window window-pack" style="margin-top: 10px;">
		<div style="text-decoration: underline">Inventory ({{ player.getEncumbrance() | number:0 }} #)</div>
		<div>
			<ul>
				<li ng-repeat="item in player.pack">
                    <span class="item" ng-click="useItem(player, item)" ng-class="{ 'equipped' : item.equipped, 'gold': item.hasAttribute('gold') }">{{ item.getName(null) }}</span>
                    <span class="droppable" ng-click="dropItem(player, item)">[X]</span>
                    <span ng-show="item.showAmount" style="margin-left: 10px;"><input type="text" ng-model="item.amountToDrop" style="width: 30px;" focus-me="item.showAmount" enter-action="dropItem(player, item)" /></span>

                </li>
			</ul>
		</div>
	</div>
	
</div>
