body
{
}

.window
{
	border: 1px solid #000;
	padding: 10px;
}

.window-player
{
	background-color: lightblue;
	display: inline-block;
/*	
	width: 200px;
	height: 100px; 
*/
}

.active-player
{
    border: 2px solid #00f;
}

.poisoned
{
    font-style: italic;
    color: #909;
}

.paralyzed
{
    font-style: italic;
    color: darkorange;
}


.stoned
{
    font-style: italic;
    color: lightslategray;
}


.window-pack
{
	background-color: saddlebrown;
	color: #fff;
	width: 300px;
	min-height: 100px;
	max-height: 300px;
	overflow-y: scroll;
}


.window-monster
{
	background-color: #900;
	color: #fff;
	width: 300px;
	min-height: 90px;
}

.window-map
{
	background-color: #eeb;
	width: 400px;

}

.window-dead
{
    width: 300px;
}

.window-actions
{
	background-color: #eee;
	width: 600px;
	min-height: 50px;
	max-height: 250px;
}

.name
{
	font-weight: bold;
}

.header
{
    font-weight: bold;
}

.species
{
	font-size: 0.9em;
	font-style: italic;
}

.dead
{
	font-weight: bold;
	font-size: 1.1em;
	color: #080000;
}

.window-player div.attributes, .window-monster div.attributes
{
	margin-top: 15px;
}

.attr-label
{
	display: inline-block;
	width: 100px;
}

.attr-value
{
	font-weight: bold;
}

.gold
{
	color: gold;
	font-weight: bold;
}

div.image
{
	border-style: outset;
}


.required
{
	background-color: #f00;
}

.exit:hover, .item:hover, .lootable:hover, .attackable:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.droppable
{
    font-size: 0.6em;
    padding: 2px
}

.droppable:hover
{
    background-color: #fff;
    color: #f00;
    cursor: pointer;
}

.attackable
{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.looted
{
    color: #666;
    font-style: italic;
}

.equipped
{
    font-style: italic;
    font-weight: bold;
}

.monster-tag-active
{
    font-weight: bold;
    background-color: #900 !important;
    color: #fff !important;
    border-left: 1px solid transparent !important;
}

.monster-tag
{
    background-color: #eee;
    border: 1px solid #000;
    text-align: left; 
    margin: 1px 0px 1px 0px;
    padding: 0px 15px 0px 5px;
    cursor: pointer;
}


