<div ng-controller="dungeonController">

    <div ng-hide="playerService.allDead()">

	    <div class="window window-map" style="margin-top: 15px;">
		
		    <div style="float: right; font-size: 0.9em;">{{ timeService.date | date : 'HH:mm:ss' }}</div>

            <div>You are standing {{ mapService.currentRoom.prep }} {{ mapService.currentRoom.name }}.</div>
		    <div ng-show="mapService.currentRoom.hasVisibleExits() && isAtPeace()">
			    <ul>
				    <li ng-repeat="exit in mapService.currentRoom.exits" ng-hide="exit.isSecret()">There is <span ng-class="{ 'exit': isAtPeace() }" ng-click="takeExit(exit)">{{ exit.desc }} {{ exit.getDirection() }}</span>.</li>
			    </ul>
		    </div>
		    <div ng-hide="mapService.currentRoom.hasVisibleExits()">There is no way out.</div>
		
            <div ng-show="isAtPeace() && (mapService.currentRoom.hasAnythingToSee())">
                You see:
                <ul>
                    <li ng-repeat="monster in mapService.currentRoom.monsters" ng-hide="monster.isAlive()">
                        <span class="lootable" ng-click="monster.isLooted = !monster.isLooted" ng-class="{ 'looted': monster.isLooted }">A dead {{ monster.getName(null) }}</span>
                        <ul ng-show="monster.isLooted && monster.hasAnything()">
                            <li class="item" ng-repeat="item in monster.pack" ng-click="transfer(item, monster, player)">{{ item.getName(false) }}</li>
                        </ul>
                    </li>
                    <li class="item" ng-repeat="item in mapService.currentRoom.items" ng-click="pickUp(item)">{{ item.getName(false) }}</li>
                </ul>
            </div>

            <span class="clear"></span>

	    </div>

    </div>
	
    <div style="margin-top: 15px;">
        
        <div class="window window-player" style="float: left;" ng-class="{ 'active-player' : playerService.currentPlayer == player }">

		    <div class="name">
                {{ player.getName() }}
                <span ng-show="player.isPoisoned()" class="poisoned">poisoned</span>
                <span ng-show="player.isParalyzed" class="paralyzed">paralyzed</span>
                <span ng-show="player.isStoned" class="stoned">turned to stone</span>
            </div>
            <div class="species">{{ player.species | capFirst }}</div>
		    <div class="attributes">
			    <div><span class="attr-label">Strength:</span> <span class="attr-value">{{ player.str }}</span></div>
			    <div><span class="attr-label">Intelligence:</span> <span class="attr-value">{{ player.int }}</span></div>
			    <div><span class="attr-label">Dexterity:</span> <span class="attr-value">{{ player.dex }}</span></div>
			    <div style="margin-top: 10px;"><span class="attr-label">Health:</span>
					    <span ng-show="player.health > 0 && player.health == player.maxHealth" class="attr-value">{{ player.health }}</span>
					    <span ng-show="player.health > 0 && player.health < player.maxHealth" class="attr-value">{{ player.health }} / {{ player.maxHealth }}</span>
					    <span ng-show="player.health <= 0" class="attr-value dead">DEAD</span>
			    </div>
			    <div ng-show="player.maxPower > 0">
                    <span class="attr-label">Magic:</span>
					<span ng-show="player.power == player.maxPower" class="attr-value">{{ player.power }}</span>
					<span ng-show="player.power < player.maxPower" class="attr-value">{{ player.power }} / {{ player.maxPower }}</span>
			    </div>
                <div ng-show="player.hasSkills()" style="margin-top: 15px;">
                    <div class="header">Skills</div>
					<div ng-repeat="skill in player.skills">
                        <span class="attr-label">{{ skillService.getSkill(skill.name).description | capFirst }}:</span>
                        <span class="attr-value">{{ skill.level | floor | number: 0 }}</span>
                    </div>
                </div>
		    </div>

		    <div class="window window-pack" style="margin-top: 10px;">
			    <div><span class="attr-label">Gold:</span><span class="attr-value gold">{{ player.countGold() }} gold</span></div>
			    <div style="margin-top: 10px; text-decoration: underline">Inventory</div>
			    <div>
				    <ul>
					    <li ng-repeat="item in player.pack" ng-hide="item.isGold()">
                            <span class="item" ng-click="useItem(player, item)" ng-class="{ 'equipped' : item.equipped }">{{ item.getName(null) }}</span>
                            <span class="droppable" ng-click="dropItem(player, item)">[X]</span>
                        </li>
				    </ul>
			    </div>
		    </div>
	    </div>
	
	    <div style="float: left; margin-left: 20px;">
		    <div ui-view></div>
	    </div>
	
	    <div style="clear: both;">&nbsp;</div>
    </div>

    <div class="window window-dead dead" style="margin-top: 15px;" ng-show="playerService.allDead()">
        You are dead.
    </div>

	<div style="margin-top: 10px;" class="window window-actions" ng-show="gameService.hasPlays()">
		<ul>
			<li ng-repeat="play in gameService.getPlays() track by $index">{{ play | capFirst }}</li>
		</ul>
	</div>


	
</div>
