<div ng-controller="dungeonController">

    <div ng-hide="playerService.allDead()">

	    <div class="window window-map" style="margin-top: 15px;">
		
		    <div style="float: right; font-size: 0.9em;">{{ timeService.date | date : 'HH:mm:ss' }}</div>

            <div>You are standing {{ mapService.currentRoom.prep }} {{ mapService.currentRoom.name }}.</div>
		    <div ng-show="mapService.currentRoom.hasVisibleExits() && isAtPeace()">
			    <ul>
				    <li ng-repeat="exit in mapService.currentRoom.exits" ng-hide="exit.isSecret()">There is <span ng-class="{ 'exit': isAtPeace() }" ng-click="takeExit(exit)">{{ exit.desc }} {{ exit.getDirection() }}</span>.</li>
			    </ul>
		    </div>
		    <div ng-hide="mapService.currentRoom.hasVisibleExits()">There is no way out.</div>
		
            <div ng-show="isAtPeace() && (mapService.currentRoom.hasAnythingToSee())">
                You see:
                <ul>
                    <li ng-repeat="monster in mapService.currentRoom.monsters" ng-hide="monster.isAlive()">
                        <span class="lootable" ng-click="monster.isLooted = !monster.isLooted" ng-class="{ 'looted': monster.isLooted }">A dead {{ monster.getName(null) }}</span>
                        <ul ng-show="monster.isLooted && monster.hasAnything()">
                            <li class="item" ng-repeat="item in monster.pack" ng-click="transfer(item, monster, playerService.currentPlayer)">{{ item.getName(false) }}</li>
                        </ul>
                    </li>
                    <li class="item" ng-repeat="item in mapService.currentRoom.items">
                        <span ng-click="pickUp(item)">{{ item.getName(false) }}</span>
                        <span ng-show="item.showAmount" style="margin-left: 10px;"><input type="text" ng-model="item.amountToPickUp" style="width: 30px;" focus-me="item.showAmount" enter-action="pickUp(item)" /></span>
                    </li>
                </ul>
            </div>

            <span class="clear"></span>

	    </div>

    </div>

    
    <div style="margin-top: 15px; float: left;">
        <div style="float: left;">
            <player-panel player="playerService.currentPlayer"></player-panel>
        </div>
        <div style="float: left;">
            <div ng-repeat="player in playerService.players" ng-click="playerService.currentPlayer = player" class="player-tag" ng-class="{ 'player-tag-active' : player == playerService.currentPlayer}">
                {{ player.getName(null) | capFirst }}
            </div>

        </div>

    </div>


	<div style="float: left; margin-left: 20px; margin-top: 15px;">
		<div ui-view></div>
	</div>
	
	<div style="clear: both;">&nbsp;</div>

    <div class="window window-dead dead" style="margin-top: 15px;" ng-show="playerService.allDead()">
        You are dead.
    </div>

	<div style="margin-top: 10px;" class="window window-actions" ng-show="gameService.hasPlays()">
		<ul>
			<li ng-repeat="play in gameService.getPlays() track by $index">{{ play | capFirst }}</li>
		</ul>
	</div>



</div>
