<div ng-controller="lootController">

	<div class="window window-monster">
		<div ng-show="monster.image" class="image" style="float: right; height: 120px"><img ng-src="images/{{ monster.image }}" style="width: 120px; height: 120px;" /></div>
		<div class="name">{{ monster.name }}</div>
		<div class="attributes">
			<div><span class="attr-label">Strength:</span><span class="attr-value">{{ monster.str }}</span></div>
			<div><span class="attr-label">Dexterity:</span><span class="attr-value">{{ monster.dex }}</span></div>
			<div><span class="attr-label">Health:</span><span class="attr-value">{{ monster.health }}</span></div>
		</div>
	</div>

	<div style="margin-top: 10px;">
		<button type="button" ng-click="fightRound()">Attack</button>
		<button type="button" ng-click="retreat()">Run Away</button>
	</div>

</div>
