<div ng-controller="tavern.shoppeController" class="shoppe">

    <style type="text/css">
        
        .shoppe .m-tabs
        {
            margin-top: 10px;
        }

        fieldset.shoppe table.datatable thead tr th:first-child
        {
            width: 200px;
        }
        
        fieldset.shoppe table.datatable thead tr th:last-child
        {
            width: 100px;
        }

        .buy-link:hover
        {
            cursor: pointer;
            color: gold;
            font-weight: bold;
        }
        
        .too-expensive
        {
            cursor: normal;
            color: #777;
            font-weight: normal;
        }
        
        .money-pouch
        {
            font-weight: bold;
            margin-top: 5px;
        }
        
        #shoppe-display
        {
            background: lightsteelblue;
            width: 400px;
        }
        
        #shoppe-display .name
        {
            text-align: left;
        }
        
        #shoppe-display .weight
        {
            text-align: right;
            width: 60px;
        }

        #shoppe-display .cost
        {
            text-align: right;
            width: 100px;
        }

    </style>

    <div ng-if="shoppeError" class="error" style="margin-bottom: 10px;">{{ shoppeError }}</div>

    <div class="money-pouch">Money: {{ characterService.current.countMoney() | coins }}</div>

    <div class="m-tabs">
        <a ng-repeat="type in shoppeService.itemTypes" ng-click="shoppeService.setDisplay(type)" ng-class="{ 'active': type == shoppeService.display }">{{ type.category | capFirst }}</a>
    </div>

    <div style="margin-top: 15px;">
        <table id="shoppe-display" class="datatable">
            <thead>
                <tr>
                    <th class="name">{{ shoppeService.display.itemName | capFirst }}</th>
                    <th class="weight">Weight</th>
                    <th class="cost">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in getDisplayItems()" ng-class="{ 'too-expensive': !characterService.current.canAfford(item), 'buy-link': characterService.current.canAfford(item) }" ng-click="buy(item)">
                    <td class="name">{{ item.getName(null) | capFirst }}</td>
                    <td class="weight">{{ item.weight | number:0 }} #</td>
                    <td class="cost">{{ item.value | coins:true }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>