<div ng-controller="campaign.editController" class="campaign">


    <style type="text/css">
    
        fieldset.campaign
        {
            margin-top: 15px;
            width: 800px;
            height: 300px;
            padding: 0;
        }
    
        .campaign .info
        {
            display: inline-block;
            float: left;
            width: 160px;
            height: 280px;
            border-right: 1px solid #666;
            padding: 10px;
            
        }

        .campaign .info .name
        {
            font-size: 14pt;
        }

        .campaign .info .label
        {
            width: 3em;
            display: inline-block;
        }
        
        .campaign .info .value
        {
            display: inline-block;
        }
        
        .campaign .info .updated
        {
            margin-top: 10px;
            font-weight: bold;
            color: Green;
        }
        
        .campaign .panes
        {
            float: left;
            width: 380px;
            height: 280px;
            margin-left: 10px;
            padding: 5px;
        }
    
        .campaign fieldset.characters
        {
            margin-top: 15px;
            width: 280px;
            height: 300px;
        }

        .campaign fieldset.characters .title
        {
            font-size: 14pt;
        }

        .campaign fieldset.characters .character
        {
            margin-top: 5px;
        }

        #recruits .name
        {
            width: 200px;
            text-align: left;
        }
        
        #recruits .join
        {
            width: 50px;
            text-align: center;
        }
            
        

    
    </style>

    <div style="margin-top: 15px;">
       &lt;&lt; <a ui-sref="tavern.campaigns">Return to campaigns</a>
    </div>

    <fieldset class="tavern campaign">
    
        <div class="info">
        
            <div class="name">{{ campaign.name }}</div>

            <div class="current-characters">
                <div ng-repeat="character in campaign.characters">{{ character }}</div>
            </div>

        </div>

    </fieldset>

    <fieldset class="tavern characters">
    
        <div class="title">Available Characters</div>
        <hr />

        <div ng-show="availableCharacters.length == 0">You have no saved characters.</div>
        <div ng-show="availableCharacters.length > 0">

            <table id="recruits" border="0">
                <tbody>
                    <tr class="character" ng-repeat="character in (availableCharacters = characterService.getCharacters() | filter:checkAvailability | orderBy:'name')">
                        <td class="name">{{ character.getName(true) }}</td>
                        <td class="join"><button type="button" ng-click="addCharacterToCampaign(character)">Join</button></td>
                    </tr>
                    
                </tbody>
            </table>

        </div>


    </fieldset>


</div>
