<div ng-controller="tavern.skillsController">

    <style type="text/css">
    
    fieldset.skills-editor
    {
        width: 300px;
    }
    
    .skill-eligible
    {
        cursor: pointer;
    }
        
    .skill-ineligible
    {
        color: #999;
    }    
    
    </style>

    <fieldset ng-hide="isNewCharacter()" class="tavern character skills-editor">

        <div class="stat" style="margin-top: 7px;">
            <div class="label">Allocation:</div>
            <div class="value">{{ characterService.current.bonus.skills }}</div>
        </div>

        <hr />

        <div style="margin-top: 10px;">
            <div ng-show="characterService.current.hasSkills()">
                <table class="datatable">
                    <thead>
                        <tr>
                            <th align="left">Skill</th>
                            <th align="center">Level</th>
                            <th align="center">Adjust</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="skill in characterService.current.skills">
                            <td style="width: 120px;">{{ skill.name | capFirst }}</td>
                            <td align="center" style="width: 50px;">{{ characterService.current.getStatValue('skills', skill.name) | number: 0 }}</td>
                            <td align="center" style="width: 60px;">
                                <img ng-show="characterService.current.bonus.skills > 0" src="/images/up-arrow.png" ng-click="raiseSkill(skill.name)" class="stat-adjuster" /> 
                                <img ng-hide="characterService.current.bonus.skills > 0" src="/images/up-arrow-disabled.png" /> 
                                <img ng-show="skill.adjust > 0" src="/images/down-arrow.png" ng-click="lowerSkill(skill.name)" class="stat-adjuster" /> 
                                <img ng-hide="skill.adjust > 0" src="/images/down-arrow-disabled.png" /> 
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div ng-hide="characterService.current.hasSkills()">No skills selected</div>
        </div>

        <hr />

        <div style="margin-top: 10px;">

            <table class="datatable" width="100%">
                <thead>
                    <tr>
                        <th align="left">Skill</th>
                        <th align="left">Prerequisites</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="skill in availableSkills" ng-if="showPotentialSkill(skill)" class="skill" 
                            ng-class="{ 'skill-ineligible': !skillEligible(skill), 'skill-eligible': skillEligible(skill) }" 
                            ng-click="addSkill(skill)">
                        <td>{{ skill.name | capFirst }}</td>
                        <td>
                            <span ng-repeat="(key, value) in skill.prereqs.stats"><span ng-show="$index > 0">, </span>{{ key }}: {{ value|number:0 }}</span>
                            <span ng-repeat="(key, value) in skill.prereqs.skills"><span ng-show="$index > 0">, </span>{{ key }}: {{ value|number:0 }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-show="skillError" style="margin-top: 10px;" class="error">{{ skillError }}</div>

        </div>

        <div style="text-align: center; margin-top: 10px;">
            <button type="button" ng-click="saveSkills()">Save</button>
        </div>

    </fieldset>

    <div ng-show="showUpdated" class="response-message" style="margin-top: 15px; margin-left: 5px;">Character Updated</div>

</div>
