<div ng-controller="combatController">

	<div>
        <div style="float: left;">
            
            <div class="window window-monster" ng-click="selectTarget(currentMonster)">
			    <div ng-show="currentMonster.image" class="image" style="float: left; height: 80px; margin-right: 20px;"><img ng-src="images/{{ currentMonster.image }}" style="width: 80px; height: 80px;" /></div>
			    <div style="float: left;">
				    <div class="name">{{ currentMonster.getName(false) | capFirst }}</div>
				    <div class="attributes">
					    <div><span class="attr-label">Strength:</span><span class="attr-value">{{ currentMonster.str }}</span></div>
					    <div><span class="attr-label">Dexterity:</span><span class="attr-value">{{ currentMonster.dex }}</span></div>
					    <div><span class="attr-label">Health:</span><span class="attr-value">{{ currentMonster.isAlive() ? currentMonster.health : 'DEAD' }}</span></div>

                        <div ng-show="currentMonster.hasSkills()" style="margin-top: 15px;">
                            <div class="header">Skills</div>
					        <div ng-repeat="skill in currentMonster.skills">
                                <span class="attr-label">{{ skillService.getSkill(skill.name).description | capFirst }}:</span>
                                <span class="attr-value">{{ skill.level | number: 0 }}</span>
                            </div>
                        </div>

				    </div>
			    </div>
			    <div style="clear: both;">&nbsp;</div>
                <div ng-show="currentMonster.hasAnything()">
                    <div style="margin-top: 10px;">Encumbrance: {{ currentMonster.getEncumbrance() | number:0 }} #</div>
                    <div style="margin-top: 10px;">Carrying
                        <ul>
                            <li ng-repeat="item in currentMonster.pack"><span ng-class="{ 'equipped' : item.equipped }">{{ item.getName(false) }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div style="float: left;">

            <div ng-repeat="monster in room.liveMonsters()" ng-click="viewMonster(monster)" class="monster-tag" ng-class="{ 'monster-tag-active' : monster == currentMonster }">
                {{ monster.getName(null) | capFirst }}
            </div>

        </div>
        <div style="clear: both;">&nbsp;</div>

    </div>

	<div ng-show="inTargetMode()" style="background-color: #00f; color: #fff; width: 300px; padding: 10px;">
        <div>[ SELECT TARGET ]</div>
        <div style="margin-top: 10px;"><button type="button" ng-click="cancelTarget()">Cancel</button></div>
    </div>

    <div ng-hide="inTargetMode()">

        <div ng-hide="mode == 'spell-chant'">
		    <button type="button" ng-click="chooseAttack()">Attack</button>
		    <button ng-show="playerService.currentPlayer.knowsSpells()" type="button" ng-click="chooseSpell()">Cast spell</button>
	    </div>
	    <div ng-show="mode == 'spell-chant'">
            Spell: <select ng-model="spellName" ng-options="spell as spellService.getSpell(spell).getIncantation() for spell in playerService.currentPlayer.getKnownSpells()" style="width: 120px;"></select>
		    <button type="button" ng-click="castSpell()">Cast</button>
		    <button type="button" ng-click="cancelSpell()">Cancel</button>
	    </div>
        <div style="margin-top: 10px;">
		    <button type="button" ng-click="retreat()">Run Away!</button>
		    <button type="button" ng-click="fightRound()">Fight Round</button>
        </div>	
    
    </div>

	<div>
		<ul>
			<li ng-repeat="action in combatActions">{{ action.getIntentDescription() | capFirst }}</li>
		</ul>
	</div>
	

</div>
