<div ng-controller="loginController">

    <h2>Login</h2>
    <div>Current user: {{ userService.session.username }}</div>
    <div>Session hash: {{ userService.session.session }}</div>

    <div>

        <table class="login">
            <tbody>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" ng-model="username" /></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" ng-model="password" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" align="center">
                        <button type="button" ng-click="login()">Log In</button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>


</div>
