<div ng-controller="loginController">

    <div class="login">

        <div class="login-row">
            <span class="login-label">Username:</span>
            <span class="login-input"><input type="text" ng-model="username" focus-me="loginReady" /></span>
        </div>
        <div class="login-row">
            <span class="login-label">Password:</span>
            <span class="login-input"><input type="password" ng-model="password" enter-action="login()" /></span>
        </div>
        <div class="login-button">
            <button type="button" ng-click="login()">Log In</button>
        </div>

    </div>


</div>
