.character-panel
{
    background: pink;
    width: 900px;
    height: 350px;
    padding: 10px;
}

#character-panel .bio
{
/*
    width: 160px;
    height: 480px;
*/
}

#character-panel .bio .sex
{
    margin-top: 5px;
}
        
#character-panel .label
{
    width: 6em;
    display: inline-block;
}
        
#character-panel .value
{
    display: inline-block;
}
