<div ng-controller="campaignsController">

    <div ng-show="campaigns.length == 0">You have no saved campaigns.</div>

    <div ng-show="campaigns.length > 0">
        <fieldset class="tavern campaigns" style="margin-top: 15px; width: 300px; padding: 15px 10px;">
            <legend>Campaigns</legend>

            <table class="datatable" style="width: 100%;">
                <thead>
                    <tr>
                        <th align="left">Name</th>
                        <th align="left">Updated</th>
                        <th align="center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="campaign in campaigns | orderBy:'name'">
                        <td>
                            <a ui-sref="tavern.campaigns.edit({ campaignID: campaign._id })">{{ campaign.name }}</a>
                        </td>
                        <td class="updateTime">{{ campaign.updated | date:'dd-MM-yyyy HH:mm:ss' }} }}</td>
                        <td align="center"><img src="/images/delete.png" class="icon-link" title="Delete campaign" ng-click="deleteCampaign(campaign)" /></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>



    <div style="margin-top: 15px;">
        <button type="button" ui-sref="campaigns.edit({ campaignID: null })">Create campaign</button>
    </div>

    <div ui-view style="margin-top: 15px;"></div>

</div>
