<div ng-controller="tavern.characterController">

    <style type="text/css"">

        .stat-adjuster
        {
            cursor: pointer;
        }
        
    </style>

    <form name="characterForm" novalidate>

        <div class="header">{{ isNewCharacter() ? 'Create' : 'Edit' }} Character</div>

        <div style="margin-top: 10px;">

            <div style="float: left;">

                <fieldset class="character">
                    <legend>Basics</legend>
                    <div class="bio" ng-show="false">
                        <div class="label">ID:</div>
                        <div class="value">{{ character._id }}</div>
                    </div>
                    <div class="bio">
                        <div class="label">Name:</div>
                        <div class="value"><input type="text" name="name" ng-model="character.name" required ng-class="{ 'field-error': submitted && characterForm.name.$invalid }" /></div>
                    </div>
                    <div class="bio">
                        <div class="label">Species:</div>
                        <div class="value"><select name="species" ng-model="character.species" ng-options="species | capFirst for species in availableSpecies" required ng-class="{ 'field-error': submitted && characterForm.species.$invalid }"></select></div>
                    </div>
                    <div class="bio">
                        <div class="label">Sex:</div>
                        <div class="value" ng-class="{ 'field-error': submitted && characterForm.sex.$invalid }" style="padding: 2px;">
                            <label><input type="radio" name="sex" ng-model="character.sex" value="1" required /> Female</label>
                            <label><input type="radio" name="sex" ng-model="character.sex" value="2" required /> Male</label>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 10px;">
                        <button type="button" ui-sref="tavern.characters.list">Done</button>
                        <button type="button" ng-click="saveCharacter(characterForm.$valid)">Save</button>
                    </div>
                </fieldset>

                <fieldset ng-hide="isNewCharacter()" class="character" style="margin-top: 15px;">
                    <legend>Stats</legend>

                    <div ng-repeat="stat in statArray" class="stat">
                        <div class="label">{{ stat.name }}:</div>
                        <div class="value">{{ (character.stats[stat.prop] + statsAdjust[stat.prop]) }}</div>
                        <img ng-show="character.stats.bonus > 0" src="/images/up-arrow.png" ng-click="raiseStat(stat.prop)" class="stat-adjuster" /> 
                        <img ng-hide="character.stats.bonus > 0" src="/images/up-arrow-disabled.png" /> 

                        <img ng-show="statsAdjust[stat.prop] > 0" src="/images/down-arrow.png" ng-click="lowerStat(stat.prop)" class="stat-adjuster" /> 
                        <img ng-hide="statsAdjust[stat.prop] > 0" src="/images/down-arrow-disabled.png" /> 
                    </div>
                    <div class="stat" style="margin-top: 15px;">
                        <div class="label">Health:</div>
                        <div class="value">{{ character.stats.health }}</div>
                    </div>
                    <div class="stat" style="margin-top: 15px;">
                        <div class="label">Bonus:</div>
                        <div class="value">{{ character.stats.bonus }}</div>
                    </div>
                    <div class="stat" style="margin-top: 10px;">
                        <button type="button" ng-click="rerollCharacter()">Re-roll</button>
                    </div>
                </fieldset>

            </div>

            <div style="float: left; margin-left: 10px;">

                <fieldset class="character">
                    <legend>Skills</legend>

                    <div style="margin-top: 10px;">
                        <div ng-show="character.skills">
                            <div ng-repeat="skill in character.skills">{{ skill.name | capFirst }} : {{ skill.level | number: 0 }}</div>
                        </div>
                        <div ng-hide="character.skills">No skills selected</div>
                    </div>

                    <hr />

                    <div style="margin-top: 10px;">
                        <div ng-repeat="skill in skills" class="skill" ng-if="!Creature.prototype.hasSkill(character, skill.name)">
                            <div class="label">{{ skill.name | capFirst }}</div>
                        </div>
                    </div>

                </fieldset>

            </div>

            <div style="clear: both;">
            </div>


        </div>
    </form>

    <div ng-show="showUpdated" class="response-message" style="margin-top: 15px; margin-left: 5px;">Character Updated</div>

</div>
