<div ng-controller="tavern.editController" class="character-edit">

    <style type="text/css">
        
        .character-edit .menu .m-tabs
        {
            margin-left: 200px;
            margin-bottom: 0;
            border-bottom: none;
        }
        
        .menu
        {
            margin-top: 15px;
            margin-bottom: 0;
        }
        
        
        .character
        {
            margin-top: 0;
            width: 800px;
            height: 500px;
            padding: 0;
        }
        
        .bio
        {
            display: inline-block;
            float: left;
            width: 160px;
            height: 480px;
            border-right: 1px solid #666;
            padding: 10px;
            
        }

        .bio .name
        {
            font-size: 14pt;
        }

        .bio .species,
        .bio .sex
        {
            margin-top: 5px;
        }
        
        .bio .label
        {
            width: 3em;
            display: inline-block;
        }
        
        .bio .value
        {
            display: inline-block;
        }
        
        .bio .updated
        {
            margin-top: 10px;
            font-weight: bold;
            color: Green;
        }
        
        .panes
        {
            float: left;
            width: 380px;
            height: 480px;
            margin-left: 10px;
            padding: 5px;
        }
        
    </style>

    <div style="margin-top: 15px;">
       &lt;&lt; <a ui-sref="tavern.characters.list">Return to characters</a>
    </div>

    <div class="menu">
        <div class="m-tabs">
            <a ui-sref-active="active" ui-sref="tavern.characters.edit.stats">Stats</a>
            <a ui-sref-active="active" ui-sref="tavern.characters.edit.skills">Skills</a>
            <a ui-sref-active="active" ui-sref="tavern.characters.edit.gear">Equipment</a>
            <a ui-sref-active="active" ui-sref="tavern.characters.edit.shoppe">Shoppe</a>
        </div>
    </div>

    <fieldset class="tavern character">

        <div class="bio">

            <div class="name">
                {{ characterService.current.name }}
            </div>

            <div class="species">
                <span class="label">Race:</span>
                <span class="value">{{ characterService.current.species  }}</span>
            </div>

            <div class="sex">
                <span class="label">Sex:</span>
                <span class="value">{{ Sex.getSex(characterService.current.sex)  }}</span>
            </div>


            <div style="margin-top: 10px;">
                <button type="button" ng-click="rerollCharacter()">Re-roll Character</button>
            </div>
            <div style="margin-top: 10px;">
                <button type="button" ng-click="deleteCharacter()">Delete Character</button>
            </div>

            <div ng-show="showUpdated" class="updated">Character Updated</div>


        </div><!-- class = bio -->

        <div class="panes" ui-view></div>

        <div style="clear: both;">&nbsp;</div>

    </fieldset>



</div>
