<div ng-controller="campaignsController" class="campaigns">

    <style type="text/css">
    
        .campaigns fieldset
        {
            margin-top: 15px; 
            width: 300px; 
            padding: 15px 10px;
        }
        
        .campaign-table .name
        {
            text-align: left;
            width: 100px;
        }

        .campaign-table .characters
        {
            text-align: left;
            width: 100px;
        }

        .campaign-table .updated
        {
            text-align: left;
            width: 120px;
            font-size: 12px;
            display: none;
        }

        .campaign-table .play
        {
            text-align: center;
            width: 50px;
        }

        .campaign-table .delete
        {
            text-align: center;
            width: 30px;
        }
        
        .campaign-table .start
        {
            text-align: center;
        }
        
        
        
    </style>

    <div class="modules">
        <div ng-show="modules.length == 0">There are no available modules.</div>

        <div ng-show="modules.length > 0">
            <fieldset class="tavern modules" style="margin-top: 15px; width: 300px; padding: 15px 10px;">
                <legend>Modules</legend>

                <table class="datatable campaign-table">
                    <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="start">Create Campaign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="module in modules | orderBy:'name'">
                            <td class="name">{{ module.name }}</td>
                            <td class="start"><button ng-click="startCampaign(module)">Start</button></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div class="campaigns">
        <div ng-show="campaigns.length == 0">You have no saved campaigns.</div>

        <div ng-show="campaigns.length > 0">
            <fieldset class="tavern">
                <legend>Campaigns</legend>

                <table class="datatable campaign-table">
                    <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="characters">Characters</th>
                            <th class="updated">Updated</th>
                            <th class="play">Play</th>
                            <th class="delete">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="campaign in campaigns | orderBy:'name'">
                            <td valign="top" class="name">
                                <a ui-sref="tavern.campaigns.edit({ campaignID: campaign._id })">{{ campaign.name }}</a>
                            </td>
                            <td valign="top" class="characters">
                                <div ng-repeat="character in (party = getCharactersInCampaign(campaign)) | orderBy:'name'">
                                    {{ character.name | capFirst }}
                                </div>
                            </td>
                            <td valign="top" class="updated">{{ campaign.updated | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td valign="top" class="play">
                                <button ng-show="party.length > 0" ui-sref="dungeon({ campaignID: campaign._id })">Play</button>
                            </td>
                            <td valign="top" class="delete">
                                <img ng-hide="party.length > 0" src="/images/delete.png" class="icon-link" title="Delete campaign" ng-click="deleteCampaign(campaign)" />
                                <img ng-show="party.length > 0" src="/images/delete-disabled.png" class="icon-link-disabled" title="Cannot delete a campaign with players" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div ui-view style="margin-top: 15px;"></div>

</div>
