#room-panel
{
    width: 1000px;
    height: 400px;
    padding: 10px;
}

#room-panel .room-description
{
    font-size: 18px;
}

#room-panel .items
{
    width: 350px;
    margin-top: 10px;
    border: 1px solid brown;
    background-color: burlywood;
    padding: 10px;
}

#room-panel .exits
{
    width: 350px;
    margin-top: 10px;
    border: 1px solid brown;
    background-color: burlywood;
    padding: 10px;
}

#room-panel .exit
{
}

#room-panel .exit:hover
{
	text-decoration: underline;
	cursor: pointer;
}
