<div id="room-panel">

	<link rel="stylesheet" type="text/css" href="/js/dungeon/room/room-panel.css" />

    <div class="room-description">You are {{ dungeonService.dungeon.room.prep }} {{ dungeonService.dungeon.room.name }}.</div>

    <div class="items">
        <div ng-hide="dungeonService.dungeon.room.items.length > 0">You see nothing of note.</div>
        <div ng-show="dungeonService.dungeon.room.items.length > 0">
            You see:
            <ul>
                <li ng-repeat="item in dungeonService.dungeon.room.items"><span class="item" ng-click="pickUp(item)">{{ item.getName(false) }}</span></li>
            </ul>
        </div>
    </div>


    <div class="exits">
        Exits:
        <ul>
            <li ng-repeat="exit in dungeonService.dungeon.room.exits"><span class="exit" ng-click="takeExit(exit)">{{ exit.name }} to {{ exit.destination }}</span></li>
        </ul>
    </div>

</div>
